body{
  overflow: hidden;
  background-color: antiquewhite;
}
.button{
  border: 1px solid rgba(255, 255, 255, 0.331);
  padding:0.5rem 1.5rem;
  font-size: 35px;
  font-weight: bold;
  background:slateblue;
  color:white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.button:hover,.button:active{
  background: violet;
}
/* home */
.homepage{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.wrapper{
  border: 2px solid mediumaquamarine;
  padding:100px;
}